[submodule "git-modules/mpv-scripts"]
	path = git-modules/mpv-scripts
	url = https://github.com/CogentRedTester/mpv-scripts.git
[submodule "git-modules/ACNetGLSL"]
	path = git-modules/ACNetGLSL
	url = https://github.com/TianZerL/ACNetGLSL.git
